<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="#" class="image avatar">
            <!-- UNCOMMENT 
                <img src="GitHub_Link.png" alt="Github Username profile picture" />
            -->
            <img src="images/avatar.jpg" alt="Github Username profile picture" />
        </a>
        <h1>
            <strong>{% t header.i_am %} developer name </strong>, <br/>
            {% t header.role#1 %},<br/>
            {% t header.role#2 %}.<br/>
        </h1>
    </div>
</header>
